# Configuration file

~CONFIG_VERSION: 0.2.0

Generic {
    # Enable item scrolling one item at a time.
    B:enableScrollingSingle=false

    # Enable item scrolling full stack at a time (ie. while holding shift).
    B:enableScrollingStacks=true

    # Reverse the scrolling direction for single item mode.
    B:reverseScrollDirectionSingle=false

    # Reverse the scrolling direction for full stacks mode.
    B:reverseScrollDirectionStacks=false
}


